In [61]:
import requests
import csv
import pandas as pd
import io

http_proxy="http://10.144.1.10:8080"
https_proxy="http://10.144.1.10:8080"
proxyDict={
    "http": http_proxy,
    "https": https_proxy
}

In [201]:
list_ =[]
frame = pd.DataFrame()
def getdataframes(frame):
    firms = {"NDAQ","^SP500TR","BK","BFED","BLK","CARV","C","CME","EVR","FII","FIG","GBL","LAZ","NTRS","BPOP","PFS","STT","BX","BX"}
    returns = pd.DataFrame()
    for x in firms:
        request = 'http://chart.finance.yahoo.com/table.csv?s={}&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv'.format(str(x))
        print (request)
        y = pd.read_csv(io.StringIO(requests.get(request,proxies=proxyDict).content.decode('utf-8')),usecols=['Adj Close','Date'])
        y.rename(columns={"Adj Close" : str(x)},inplace=True)
        y.set_index('Date')
        list_.append(y)
        frame=pd.concat(list_, axis=1,join='inner')
        print (y)
    return frame

In [202]:
returns = getdataframes(frame)
returns

http://chart.finance.yahoo.com/table.csv?s=STT&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date        STT
0   2008-12-10  37.144048
1   2008-12-09  37.179628
2   2008-12-08  39.020820
3   2008-12-05  35.827641
4   2008-12-04  33.194826
5   2008-12-03  32.554410
6   2008-12-02  32.847935
7   2008-12-01  31.513738
8   2008-11-28  37.455363
9   2008-11-26  36.156745
10  2008-11-25  33.577296
11  2008-11-24  32.100785
12  2008-11-21  28.267192
http://chart.finance.yahoo.com/table.csv?s=PFS&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date        PFS
0   2008-12-10  10.591806
1   2008-12-09  10.944617
2   2008-12-08  11.019683
3   2008-12-05  10.689392
4   2008-12-04  10.126398
5   2008-12-03  10.501727
6   2008-12-02  10.208971
7   2008-12-01   9.458311
8   2008-11-28  11.252387
9   2008-11-26  11.229867
10  2008-11-25  11.079736
11  2008-11-24  11.319946
12  2008-11-21  10.028812
http://chart.finance.yahoo.com/table.csv?s=BX&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date        BX
0   2008-12-10  4.197238
1   2008-12-09  4.464740
2   2008-12-08  4.388311
3   2008-12-05  3.993427
4   2008-12-04  3.649495
5   2008-12-03  3.846937
6   2008-12-02  3.401100
7   2008-12-01  3.541220
8   2008-11-28  3.987058
9   2008-11-26  4.006165
10  2008-11-25  3.910628
11  2008-11-24  3.904259
12  2008-11-21  2.823453
http://chart.finance.yahoo.com/table.csv?s=BK&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date         BK
0   2008-12-10  24.684703
1   2008-12-09  23.756125
2   2008-12-08  26.438684
3   2008-12-05  25.897015
4   2008-12-04  24.538539
5   2008-12-03  25.441323
6   2008-12-02  23.334825
7   2008-12-01  22.225691
8   2008-11-28  25.974395
9   2008-11-26  25.759446
10  2008-11-25  25.578890
11  2008-11-24  27.728376
12  2008-11-21  22.217093
http://chart.finance.yahoo.com/table.csv?s=LAZ&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date        LAZ
0   2008-12-10  22.687298
1   2008-12-09  22.125693
2   2008-12-08  22.479581
3   2008-12-05  19.640785
4   2008-12-04  19.309976
5   2008-12-03  20.140843
6   2008-12-02  19.533079
7   2008-12-01  19.571545
8   2008-11-28  24.048998
9   2008-11-26  23.087346
10  2008-11-25  20.148537
11  2008-11-24  19.956206
12  2008-11-21  17.594389
http://chart.finance.yahoo.com/table.csv?s=CME&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date        CME
0   2008-12-10  32.886330
1   2008-12-09  32.370836
2   2008-12-08  33.171564
3   2008-12-05  28.734130
4   2008-12-04  26.207322
5   2008-12-03  26.920617
6   2008-12-02  25.489597
7   2008-12-01  25.495503
8   2008-11-28  31.300810
9   2008-11-26  31.272752
10  2008-11-25  29.527171
11  2008-11-24  29.640884
12  2008-11-21  25.959218
http://chart.finance.yahoo.com/table.csv?s=FII&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date        FII
0   2008-12-10  15.243887
1   2008-12-09  14.830115
2   2008-12-08  14.725030
3   2008-12-05  14.035411
4   2008-12-04  12.767823
5   2008-12-03  13.464011
6   2008-12-02  12.787526
7   2008-12-01  11.670999
8   2008-11-28  13.037103
9   2008-11-26  12.485407
10  2008-11-25  12.051932
11  2008-11-24  12.432865
12  2008-11-21  11.565914
http://chart.finance.yahoo.com/table.csv?s=CARV&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date       CARV
0   2008-12-10  88.121687
1   2008-12-09  76.508751
2   2008-12-08  76.508751
3   2008-12-05  76.508751
4   2008-12-04  76.508751
5   2008-12-03  76.508751
6   2008-12-02  76.508751
7   2008-12-01  76.508751
8   2008-11-28  76.508751
9   2008-11-26  76.508751
10  2008-11-25  81.290548
11  2008-11-24  87.301947
12  2008-11-21  87.436466
http://chart.finance.yahoo.com/table.csv?s=FIG&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date       FIG
0   2008-12-10  1.063294
1   2008-12-09  1.221351
2   2008-12-08  1.393777
3   2008-12-05  1.264458
4   2008-12-04  1.357855
5   2008-12-03  1.343486
6   2008-12-02  1.796105
7   2008-12-01  1.796105
8   2008-11-28  2.191248
9   2008-11-26  2.169694
10  2008-11-25  1.724260
11  2008-11-24  1.731445
12  2008-11-21  1.479990
http://chart.finance.yahoo.com/table.csv?s=BFED&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
         Date    BFED
0  2008-12-09  7.5153
1  2008-12-05  7.8421
2  2008-12-04  7.8421
3  2008-12-03  7.2352
4  2008-12-02  7.5433
5  2008-12-01  7.8421
6  2008-11-28  8.1221
7  2008-11-26  7.6834
8  2008-11-24  7.4594
9  2008-11-21  7.5340
http://chart.finance.yahoo.com/table.csv?s=BLK&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date         BLK
0   2008-12-10  108.600617
1   2008-12-09  108.927920
2   2008-12-08  113.027454
3   2008-12-05  104.992049
4   2008-12-04   94.706413
5   2008-12-03   99.665125
6   2008-12-02   92.758935
7   2008-12-01   87.603840
8   2008-11-28  102.226299
9   2008-11-26  101.429375
10  2008-11-25   95.493075
11  2008-11-24   94.435924
12  2008-11-21   88.556553
http://chart.finance.yahoo.com/table.csv?s=NDAQ&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date       NDAQ
0   2008-12-10  23.648158
1   2008-12-09  23.657469
2   2008-12-08  23.713330
3   2008-12-05  21.739547
4   2008-12-04  20.240589
5   2008-12-03  19.039561
6   2008-12-02  18.639218
7   2008-12-01  17.503361
8   2008-11-28  20.017142
9   2008-11-26  20.073003
10  2008-11-25  17.801292
11  2008-11-24  17.568534
12  2008-11-21  15.678543
http://chart.finance.yahoo.com/table.csv?s=BPOP&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date       BPOP
0   2008-12-10  57.370663
1   2008-12-09  53.597553
2   2008-12-08  56.744740
3   2008-12-05  55.791047
4   2008-12-04  55.981786
5   2008-12-03  58.366019
6   2008-12-02  56.363261
7   2008-12-01  51.117949
8   2008-11-28  59.605819
9   2008-11-26  58.652126
10  2008-11-25  58.079912
11  2008-11-24  57.793801
12  2008-11-21  54.932721
http://chart.finance.yahoo.com/table.csv?s=C&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date          C
0   2008-12-10  81.497036
1   2008-12-09  83.853579
2   2008-12-08  83.166250
3   2008-12-05  75.703872
4   2008-12-04  72.660008
5   2008-12-03  76.783952
6   2008-12-02  70.892600
7   2008-12-01  63.332034
8   2008-11-28  81.398849
9   2008-11-26  69.223386
10  2008-11-25  59.699033
11  2008-11-24  58.422574
12  2008-11-21  37.017329
http://chart.finance.yahoo.com/table.csv?s=NTRS&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date       NTRS
0   2008-12-10  42.237466
1   2008-12-09  42.103032
2   2008-12-08  44.413616
3   2008-12-05  42.262673
4   2008-12-04  38.577846
5   2008-12-03  38.059799
6   2008-12-02  35.611605
7   2008-12-01  32.921101
8   2008-11-28  38.343890
9   2008-11-26  37.107260
10  2008-11-25  34.725913
11  2008-11-24  36.672768
12  2008-11-21  31.701180
http://chart.finance.yahoo.com/table.csv?s=EVR&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date        EVR
0   2008-12-10  10.933189
1   2008-12-09  10.809230
2   2008-12-08  10.660479
3   2008-12-05   9.916725
4   2008-12-04   9.346513
5   2008-12-03   8.958108
6   2008-12-02   8.958108
7   2008-12-01   8.230882
8   2008-11-28   8.272201
9   2008-11-26   8.536647
10  2008-11-25   6.949971
11  2008-11-24   6.255800
12  2008-11-21   5.783971
http://chart.finance.yahoo.com/table.csv?s=^SP500TR&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date     ^SP500TR
0   2008-12-10  1444.000000
1   2008-12-09  1426.880005
2   2008-12-08  1460.599976
3   2008-12-05  1406.359985
4   2008-12-04  1356.810059
5   2008-12-03  1397.719971
6   2008-12-02  1361.790039
7   2008-12-01  1309.390015
8   2008-11-28  1437.680054
9   2008-11-26  1423.900024
10  2008-11-25  1374.790039
11  2008-11-24  1365.630005
12  2008-11-21  1282.589966
http://chart.finance.yahoo.com/table.csv?s=GBL&a=10&b=21&c=2008&d=11&e=10&f=2008&g=d&ignore=.csv
          Date        GBL
0   2008-12-10  12.263661
1   2008-12-09  11.985552
2   2008-12-08  12.564197
3   2008-12-05  12.025923
4   2008-12-04  10.976292
5   2008-12-03  11.270493
6   2008-12-02  10.106669
7   2008-12-01   9.881692
8   2008-11-28  11.867548
9   2008-11-26  11.850242
10  2008-11-25  11.590653
11  2008-11-24  11.945425
12  2008-11-21  11.231554

,Date,STT,Date,PFS,Date,BX,Date,BK,Date,LAZ,...,Date,C,Date,NTRS,Date,EVR,Date,^SP500TR,Date,GBL
0,2008-12-10,37.144048,2008-12-10,10.591806,2008-12-10,4.197238,2008-12-10,24.684703,2008-12-10,22.687298,...,2008-12-10,81.497036,2008-12-10,42.237466,2008-12-10,10.933189,2008-12-10,1444.000000,2008-12-10,12.263661
1,2008-12-09,37.179628,2008-12-09,10.944617,2008-12-09,4.464740,2008-12-09,23.756125,2008-12-09,22.125693,...,2008-12-09,83.853579,2008-12-09,42.103032,2008-12-09,10.809230,2008-12-09,1426.880005,2008-12-09,11.985552
2,2008-12-08,39.020820,2008-12-08,11.019683,2008-12-08,4.388311,2008-12-08,26.438684,2008-12-08,22.479581,...,2008-12-08,83.166250,2008-12-08,44.413616,2008-12-08,10.660479,2008-12-08,1460.599976,2008-12-08,12.564197
3,2008-12-05,35.827641,2008-12-05,10.689392,2008-12-05,3.993427,2008-12-05,25.897015,2008-12-05,19.640785,...,2008-12-05,75.703872,2008-12-05,42.262673,2008-12-05,9.916725,2008-12-05,1406.359985,2008-12-05,12.025923
4,2008-12-04,33.194826,2008-12-04,10.126398,2008-12-04,3.649495,2008-12-04,24.538539,2008-12-04,19.309976,...,2008-12-04,72.660008,2008-12-04,38.577846,2008-12-04,9.346513,2008-12-04,1356.810059,2008-12-04,10.976292
5,2008-12-03,32.554410,2008-12-03,10.501727,2008-12-03,3.846937,2008-12-03,25.441323,2008-12-03,20.140843,...,2008-12-03,76.783952,2008-12-03,38.059799,2008-12-03,8.958108,2008-12-03,1397.719971,2008-12-03,11.270493
6,2008-12-02,32.847935,2008-12-02,10.208971,2008-12-02,3.401100,2008-12-02,23.334825,2008-12-02,19.533079,...,2008-12-02,70.892600,2008-12-02,35.611605,2008-12-02,8.958108,2008-12-02,1361.790039,2008-12-02,10.106669
7,2008-12-01,31.513738,2008-12-01,9.458311,2008-12-01,3.541220,2008-12-01,22.225691,2008-12-01,19.571545,...,2008-12-01,63.332034,2008-12-01,32.921101,2008-12-01,8.230882,2008-12-01,1309.390015,2008-12-01,9.881692
8,2008-11-28,37.455363,2008-11-28,11.252387,2008-11-28,3.987058,2008-11-28,25.974395,2008-11-28,24.048998,...,2008-11-28,81.398849,2008-11-28,38.343890,2008-11-28,8.272201,2008-11-28,1437.680054,2008-11-28,11.867548
9,2008-11-26,36.156745,2008-11-26,11.229867,2008-11-26,4.006165,2008-11-26,25.759446,2008-11-26,23.087346,...,2008-11-26,69.223386,2008-11-26,37.107260,2008-11-26,8.536647,2008-11-26,1423.900024,2008-11-26,11.850242

In [204]:
newreturns = returns.groupby(['Date'])
newreturns

ValueError: Grouper for 'Date' not 1-dimensional